
        <form [formGroup]="userpassword" (ngSubmit)="updatepassword()" >
            <div class="row p-3 justify-content-center ">
                <div class="p-3">
                    <label class="form-lable" for="fname">New Password</label>
                    <input class="form-control"  type="text" name="password" id="password" formControlName="password" 
                    [ngClass]="{'is-invalid':((password.touched)&& password.invalid)||(submitted&&password.hasError('required'))}"
                    />
                    <div class="invalid-feedback">
                        {{((password.touched)&& password.invalid)||(submitted&&password.hasError('required'))?"This field is reqired":''}}
                        {{password.touched&&password.hasError('minlength')?"min length 8":''}}
                    </div>
                </div>
            </div>
            <div class="row p-3 justify-content-center">
                <div class="col-sm-3" *ngIf="password.valid">
                    <input *ngIf="!submitted" type="submit" value="save" class="form-control bg-success text-white" />
                    <div *ngIf="submitted" class="fluid-container"><img src="assets/Spinner.svg" /></div>
                </div>
            </div>
        </form>
