<table>
    <tr>
        <td class="image">
            <label for="change-btn">
                <img [src]="imagesrc">
            </label>
            <input type="file" id="change-btn" hidden (change)="uploadfile($event)"/>
        </td>
    </tr>
    <tr>
        <td class="name-row">{{user.firstName}}&nbsp;{{user.lastName}}</td>
    </tr>
    <tr>
        <td >
            <span>*****</span>
            <i class="fas fa-edit edit-btn" title="change password" (click)="openupdatepasswordside()"></i>
        </td>
    </tr>
</table>
