
<section class="row justify-content-center">
    <div class="col-lg-3 col-md-4 py-2 col-12 d-flex justify-content-center contact">
        <div class="w-25 text-center lh-4">
            <i class="fa-solid fa-phone fa-xl"></i>
        </div>
        <div class="w-75">
            <h4>Give us a Call</h4>
            <span>01111111111</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 py-2 col-12 d-flex justify-content-center contact">
        <div class="w-25 text-center lh-4">
            <i class="fa-solid fa-envelope fa-xl"></i>
        </div>
        <div class="w-75">
            <h4>Send us a Message</h4>
            <span>hospital&#49;gmail.com</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 py-2 col-12 d-flex justify-content-center">
        <div class="w-25 text-center lh-4">
            <i class="fa-solid fa-location-dot fa-xl"></i>
        </div>
        <div class="w-75">
            <h4>Visit our Location</h4>
            <span>3213 Suitland Street</span>
        </div>
    </div>
</section>
<section class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-3 col-md-4 col-12 p-3">
        <h2>Top Doctors</h2>
        <p>We have several highly experienced and competent doctors in many medical departments.</p>
        <button class="btn">All Doctors</button>
    </div>
    <div class="col-lg-3 col-md-4 col-12 p-3">
        <h2>24 Hours Service</h2>
        <p>Patients admitted at university fayoum hospital can rest assured that medicines would be available at the hospital 24 hours. No running around to various drug stores to buy essential medicines to the patient.</p>
    </div>
    <div class="col-lg-3 col-md-4 col-12 p-3">
        <h2>Opening Hours</h2>
        <table class="table text-white">
            <tr>
                <td class="p-2">Saturday - Sunday</td>
                <td class="p-2">8.00 – 17.00</td>
            </tr>
            <tr>
                <td class="p-2">Monday</td>
                <td class="p-2">10.00 – 1500</td>
            </tr>
            <tr>
                <td class="p-2">Monday – Friday</td>
                <td class="p-2">8.00 – 17.00</td>
            </tr>
        </table>
    </div>
</section>