<section class="row justify-content-center align-items-center py-5">
    <div class="col-6 col-md-3 social">
        <img src="../../../../assets/logo.png"/>
        <h3>Fayoum University Hospital</h3>
        <ul class="d-flex justify-content-center align-items-center p-3">
            <li class="px-3">
                <a target="_blank" href="https://facebook.com">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
            </li>
            <li class="px-3">
                <a target="_blank" href="https://twitter.com">
                    <i class="fa-brands fa-twitter fa-xl"></i>
                </a>
            </li>
            <li class="px-3">
                <a target="_blank" href="https://youtube.com">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-6 col-md-3">
        <div class="row justify-content-center flex-column">
            <div class="pt-4 col-12 d-flex justify-content-center align-items-center contact">
                <div class="w-25 text-center">
                    <i class="fa-solid fa-phone fa-xl"></i>
                </div>
                <div class="w-75">
                    <span>1-888-123-4567</span>
                </div>
            </div>
            <div class="pt-4 col-12 d-flex justify-content-center align-items-center contact">
                <div class="w-25 text-center">
                    <i class="fa-solid fa-envelope fa-xl"></i>
                </div>
                <div class="w-75">
                    <span>medical-clinic@mail.com</span>
                </div>
            </div>
            <div class="pt-4 col-12 d-flex justify-content-center align-items-center contact">
                <div class="w-25 text-center">
                    <i class="fa-solid fa-location-dot fa-xl"></i>
                </div>
                <div class="w-75">
                    <span>3213 Suitland Street</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-11 col-md-3">
        <div class="map" >
            <div class="map_container">
                <div class="map" #map
                  >
              </div>
            </div>
        </div>
    </div>
</section>
