.container{
    margin: 1rem 0;
    overflow: auto;
}
table{
    table-layout: fixed;
}
.table-header{
    color: white;
    background-color: rgb(8, 68, 121);
 }

.table-responsive{
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    width: fit-content;
}
.table-header,.table{
    margin: auto;
}
.table-header{
    background-color: #343f6c;
    color: white;
}
th,td{
    width: 175px;
    padding:0.5rem 0.3rem;
}
::-webkit-scrollbar {
    width: 0px;
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .table-responsive{
        height:30vh;
    }
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}
