<div class="container" >
    <div class="text-center" *ngIf="loadingstatus"> 
        <img src="../../../../assets/Spinner.svg"/>
    </div>
    <ng-container *ngIf="!loadingstatus">
        <div *ngIf="indoorRecordflag;then data;else nodata"></div>
    </ng-container>
</div>
<ng-template #data>
    <table class="table table-header">
        <thead>
            <tr>
                <th>Reserving Date</th>
                <th>Discharge Date</th>
                <th>Room Type</th>
                <th>Floor Num.</th>
                <th>Room Num.</th>
                <th>Bed Num.</th>
                <th class="last-column">Report</th>
            </tr>
        </thead>
    </table>
    <div *ngIf="indoorPatientRecords.length>0" class="table-responsive">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of indoorPatientRecords ,let j =index">
                    <td>{{i.enterDate|date:'longDate'}}</td>
                    <td>{{i.discahrgeDate|date:'longDate'}}</td>
                    <td>{{i.roomType}}</td>
                    <td>{{i.floorNumber}}</td>
                    <td>{{i.roomNumber}}</td>
                    <td>{{i.bedNumber}}</td>  
                    <td class="last-column">
                    <button class="p-2" (click)="showReport(j)"><i class="fa-solid fa-file-pen"></i></button>
                    <button class="p-2" (click)="showPrescriptions(j)"><i class="fa-solid fa-prescription"></i></button>
                    <button class="p-2" (click)="showTest(j)"><i class="fa-solid fa-flask-vial"></i></button>
                    <button class="p-2" (click)="showscan(j)"><i class="fa-solid fa-x-ray"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #nodata>
        <div class="nodata">
            <p>
               no data found
            </p>
        </div>
</ng-template>
