    <div>
        <ng-container *ngIf="patientTests.length>0">
            <div class="filter-section">
                <label>Scan Name</label>
                <select class="form-select" (change)="search_lab($event)">
                    <option></option>
                    <option *ngFor="let i of testsList" value="{{i}}">{{i}}</option>
                </select>    
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Test date</th>
                            <th>pdf</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let test of searchedTestsList;let j=index">
                            <td>{{test.testName}}</td>
                            <td>{{test.testDate|date: 'longDate'}}</td>
                            <td class="pdficon"><button (click)="showlab(test.patientTestId)"> <img src="../../../../assets/pdficon.png"> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ng-container>
        <ng-container *ngIf="patientTests.length==0">
            <p class="text-danger text-center mt-4">No Items</p>
        </ng-container>
    </div>