<div *ngIf="flag;then page;else loading"></div>
<ng-template #page>
    <div class="fluid-container">
        <div class="row">
            <div class="add_btn">
                <button (click)="openaddschedulepage()" [ngClass]="{'active':color_btn}">
                    Add schedule
                </button>
            </div>
        </div>
        <div class="main-page">
            <app-showschedule [departments]="department"></app-showschedule>
        </div>
    </div>
</ng-template>
<ng-template #loading>
    <div class="fluid-container loading"><img src="assets/Spinner.svg" /></div>
</ng-template>
