<form #formdata="ngForm" (ngSubmit)="save(formdata)">
    <div class="p-3">
        <label class="form-lable" for="doctorfname"> Scan Name </label>
        <input type="text" id="scanname" name="scanname" class="form-control form-control1" 
        required #scanname="ngModel" [(ngModel)]="scan.scanName" [disabled]="updateflag"/>
        <div class="invalid-feedback">
          {{(scanname.errors?.['required']&&formdata.submitted)?"this is required":''}}
        </div>
    </div>
    <div class="p-3">
        <label class="form-lable" for="doctorfname">  Scan Charge </label>
        <input type="number" id="scancharge" [(ngModel)]="scan.scanCharge" [min]="10" name="Charge" class="form-control form-control1" min="100" #Charge="ngModel" required ngModel />          
        <div class="invalid-feedback">
          {{(Charge.errors?.['required']&&formdata.submitted)?"this is required":''}}
          {{(Charge.errors?.['min']&&formdata.submitted)?"min value is 10":''}}
        </div>
    </div>
    <div class="p-3">
        <div class="col-sm-3">
            <input [hidden]="updateflag" [disabled]="submitted&&formdata.valid" type="submit" id="add_btn" class="form-control btn" value="Add">
            <input  [hidden]="!updateflag" [disabled]="submitted&&formdata.valid" type="submit" id="add_btn" class="form-control btn" value="Update">
            <div *ngIf="submitted&&formdata.valid" class="fluid-container loading"><img src="assets/Spinner.svg" /></div>
        </div>
    </div>
</form>