<table>
    <tr>
        <th>Information</th>
        <td><i class="fas fa-edit edit-btn" (click)="openupdateprofileside()"></i></td>
    </tr>
    <tr>
        <th>userName</th>
        <td>{{user.userName||'-'}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{user.gender||'-'}}</td>
    </tr>
    <tr>
        <th>Blood Type</th>
        <td>{{user.bloodType||'-'}}</td>
    </tr>
    <tr>
        <th>phone Number</th>
        <td>{{user.phoneNumber||'-'}}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{{user.mail||'-'}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{user.address||'-'}}</td>
    </tr>
    <ng-container *ngIf="showdata">
        <tr>
            <th>Department</th>
            <td>{{user.departmentName||'-'}}</td>
        </tr>
        <tr>
            <th>Specialization</th>
            <td>{{user.docSpecialization||user.nurseSpecialization||'-'}}</td>
        </tr>
        <tr>
            <th>Degree</th>
            <td>{{user.docDegree||user.nurseDegree||'-'}}</td>
        </tr>
    </ng-container>
</table>