<div class="fluid-container">
    <div class="department-list">
        <label>Department</label>
        <select class="form-select" (change)="getschedules($event)" >
            <option *ngFor="let i of departments"  value="{{i.id}}">{{i.department_Name}}</option>
        </select>
    </div>
    <div class="text-center">
        <img src="../../../../assets/Spinner.svg" *ngIf="loading" />
    </div>
    <div class="table-responsive" *ngIf="schedules.length>0">
        <table class="table table-striped schedule-table bg-white">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Doctor Name</th>
                    <th>schedule</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of schedules|paginate: { itemsPerPage: 10, currentPage: p ,totalItems:totallength};let y=index">
                    <td class="col4">{{y+1}}</td>
                    <td class="col4">{{i.doctorName}}</td>
                    <td>
                        <table class=" schedule2-tables">
                            <tr>
                                <th>day of work</th>
                                <th>start time</th>
                                <th>end time</th>
                                <th>time per patient</th>
                                <th>option</th>
                            </tr>
                            <tr [ngSwitch]="j.dayOfWork" *ngFor="let j of i.scheduleObjects ;let m=index">
                                <td *ngSwitchCase="0">sunday</td>
                                <td *ngSwitchCase="1">monday</td>
                                <td *ngSwitchCase="2">tuesday</td>
                                <td *ngSwitchCase="3">wednesday</td>
                                <td *ngSwitchCase="4">thursday</td>
                                <td *ngSwitchCase="5">friday</td>
                                <td *ngSwitchCase="6">saturday</td>
                                <td>
                                    {{j.startTime}}
                                </td>
                                <td>
                                    {{j.endTime}}
                                </td>
                                <td>
                                    {{j.timePerPatient}}
                                </td>
                                <td>
                                    <button (click)="delet(y,m)">
                                        <i class="fa-solid fa-trash" style="color:red"></i>
                                    </button>
                                    <button class="pl-2" (click)="updateSchedule({id: i.doctorId, name: i.doctorName, schedule: j.scheduleId})" >
                                        <i class="fa-solid fa-edit" style="color:#9fa996;"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger mess" role="alert" [ngClass]="{'show':show}">
            <p> you want delete this schedule</p>
            <div class="row justify-content-center">
                <div class="col-1">
                    <button (click)="deleteschadle()" style="color:red">yes</button>
                </div>
                <div class="col-1">
                    <button (click)="close()">no</button>
                </div>
            </div>
        </div>
    </div> 
    <pagination-controls *ngIf="schedules.length>0" style="margin:3rem 0;"(pageChange)="p = $event"></pagination-controls>
    <div *ngIf="!loading&&schedules.length==0"  style="width:50%;text-align: center; margin:0 auto;color:red">No schedule</div>
</div>
