.container{
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 1.5rem;
}
header{
    width:100%;
    display: flex;
    justify-content: space-between  ;
    align-items:center ;
}
.logo{
    width: 45%;
}
.patient-info{
    width:45%;
}
.form{
    width: 95%;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.row{
    margin-top: 0.5rem;
}
.table-responsive{
    width:100;
    display: block;
}
.table thead{
    background-color: whitesmoke;
    border-bottom: none;}
.form-control:focus,.form-select:focus{
    border-color: none;
    box-shadow: none;
}
.title{
    width: 100%;
    display: flex;
    background-color: #b5c1ab;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.title p,.title .fa-times{
    margin: 0.5rem;

}
.fa-times{
    color: red;
    float: right;
}
.fa-plus{
    padding: 0.5rem;
    background-color: #b5c1ab;
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 95%;
}
}
.dignoise{
    display: none;
}
.reappointment-section{
    display: block;
}
.show{
    display:flex;
    display: block;
}
@media (min-width: 276px){
    .container, .container-sm {
        max-width: 100%;
    }
    }
    .ui-datepicker {
        background: #333;
        border: 1px solid #555;
        color: #EEE;
     }
     .alert-dismissible{
        position: fixed;
        width: 70%;
        margin: 0 auto;
        opacity: 1;

    }
    .errormes{
        display: none;
        position: relative;
        top: -329px;
        opacity: 1;
    }
    .sucessmes{
        top: 261px;
        left: 19%;
        display: none;
    }
    .successshow,.errorshow{
        display: block;
    }
    .successmess{
        display: block;
    }
.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
 }
 ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
   }
   
   
   mat-datepicker-toggle {
    color: black !important;}