    <div class="statistics">
        <div class="row justify-content-evenly m-1 mt-3 align-items-center">
            <div class="col-lg-4 col-10 m-2">
                <i class="fa-calendar fa-solid fa-xl"></i>
                <h3>In patient Requests</h3>
                <span>{{in_number}}</span>
            </div>
            <div class="col-lg-4 col-10 m-2">
                <i class="fa-calendar fa-solid fa-xl"></i>
                <h3>Out patient Requests</h3>
                <span>{{out_number}}</span>
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="pagestatus">
        <div *ngSwitchCase="100">
            <img src="../../../../assets/Spinner.svg"/>
        </div>
        <div *ngSwitchCase="200">
            <ng-container *ngIf="out_number">
                <table class="table table-header">
                    <thead>
                        <tr>
                            <th colspan="5">Out Patient Requests</th>
                        </tr>
                        <tr>
                            <th>Doctor Name</th>
                            <th>Patient Name</th>
                            <th>Lab Name</th>
                            <th>Request Date</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                </table>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let i of outpatientrequests ">
                                <td>{{i.doctorName}}</td>
                                <td>{{i.patientName}}</td>
                                <td>{{i.labName}}</td>
                                <td>{{i.createdDtm|date:'shortDate'}}</td>
                                <td>
                                    <button (click)="gotoaddscan(i)">
                                        <i class="fa-solid fa-plus" style="color:green"></i>
                                    </button>
                                    <button (click)="gotodelscan(i)">
                                        <i class="fa-solid fa-trash" style="color:red"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="in_number">
                <table class="table table-header">
                    <thead>
                        <tr>
                            <th colspan="5">In Patient Requests</th>
                        </tr>
                        <tr>
                            <th>Doctor Name</th>
                            <th>Patient Name</th>
                            <th>Lab Name</th>
                            <th>Request Date</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                </table>
                <div  *ngIf="in_number" class="table-responsive">
                    <table class="table">
                            <tbody>
                                <tr *ngFor="let i of inpatientrequests">
                                    <td>{{i.doctorName}}</td>
                                    <td>{{i.patientName}}</td>
                                    <td>{{i.labName}}</td>
                                    <td>{{i.createdDtm|date:'shortDate'}}</td>
                                    <td>
                                        <button (click)="gotoaddscan(i)">
                                            <i class="fa-solid fa-plus" style="color:green"></i>
                                        </button>
                                        <button (click)="gotodelscan(i)">
                                            <i class="fa-solid fa-trash" style="color:red"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </ng-container>
            <div *ngIf="deletflag">
                <div class="alert alert-danger alert-dismissible fade errormes" role="alert">
                    You can't delete this request 
                </div>
            </div>
        </div>
        <div  *ngSwitchCase="400" class="nodata">
            <p>
               no Items
            </p>
        </div>
    </ng-container>  