.fluid-container{
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;

}
header{
    width: 100%;
    text-align: center;
    background-color: #143961;
    color: white;
    padding:0.5rem 0.3rem;
}
header h3{
    text-align: center;
}
.table-responsive{
    max-height: 14.6875rem;
    overflow: auto;
}
#vital-table{
    table-layout: fixed;
}
#vital-table th,#vital-table td{
    width:9.375rem ;
}
#btn{
    border: none;
    background-color: #143961;
    border-radius: 4px;
    color:white
}
.end-table{
border-bottom:1px solid #143961;
}
p{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: grey;
}
::-webkit-scrollbar{
    width: 0px;
}
@media only screen and (max-width:800px) {
    #no-more-tables tbody,
    #no-more-tables tr,
    #no-more-tables td {
        display: block;
    }
    #no-more-tables tbody tr th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables td {
        position: relative;
        padding-left: 40%;
        border: none;
        border-bottom: 1px solid #eee;
    }
    #no-more-tables td:before {
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }
    #no-more-tables tr {
        border-bottom: 1px solid #ccc;
    }
 
}

@media (max-width:500) {
    .header {
        width: 100%;
    }
}

   