<div class="container" >
    <div class="text-center" *ngIf="loadingstatus"> 
        <img src="../../../../assets/Spinner.svg"/>
    </div>
    <ng-container *ngIf="!loadingstatus">
        <div *ngIf="PrescriptionsList.length>0;then data;else nodata"></div>
    </ng-container>
</div>
<ng-template #data>
    <div class="filter-section">
        <label>Department</label>
        <select class="form-select my-2" (change)="search_Prescription($event)">
            <option></option>
            <option *ngFor="let item of departments" value="{{item}}">{{item}}</option>

        </select>    
    </div>
    <table class="table table-header">
        <thead>
            <tr>
                <th class='pdf'>Prescription</th>
                <th>Clinic Name</th>
                <th>Doctor Name</th>
                <th>Date</th>
            </tr>
        </thead>
    </table>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of PrescriptionsList;let j=index">
                    <td class="pdf" (click)="show_all_patient_prescriptions_in_pdf(i.prescription.prescriptionId)"><img src="assets/pdficon.png"/></td>
                    <td>{{i.department}}</td>
                    <td>{{i.doctorFullName}}</td>
                    <td>
                        {{i.prescription.prescription_Date |date: 'longDate'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template #nodata>
        <div class="nodata">
            <p>
               no data found
            </p>
        </div>
</ng-template>
