<form [formGroup]="updateform" (ngSubmit)="update()" class="update-class">
    <table >
        <tr>
            <th>Doctor Name</th>
            <td>
                {{tempschedule.doctorName}}
            </td>
        </tr>
        <tr>
            <th>work day</th>
            <td>
                <select class="form-select updateclass"  name="dayOfWork"  formControlName="dayOfWork">
                    <option value="0">sunday</option>
                    <option value="1">monday</option>
                    <option value="2">tuesday</option>
                    <option value="3">wednesday</option>
                    <option value="4">thursday</option>
                    <option value="5">friday</option>
                    <option value="6">saturday</option>
            </select>
            </td>
        </tr>
        <tr>
            <th>startTime</th> 
            <td>
                 <input class="form-control updateclass" type="time" name="startTime"  formControlName="startTime" />
                 <div class="invalid-feedback" width="10px">
                    {{(submitted&&!timeflag)?"ensure start time less than end time":''}}
                </div>
            </td>
        </tr>
        <tr>
            <th>endTime</th>
            <td>
                <input class="form-control updateclass" type="time"   name="endTime"  formControlName="endTime" />
            </td>
        </tr>
        <tr>
            <th>timePerPatient</th>
            <td class="table-footer">
                <input class="form-control updateclass"  required type="text"  name="timePerPatient"  
                formControlName="timePerPatient"
                [ngClass]="{'invalid-feedback':updateform.controls['timePerPatient']?.touched &&updateform.controls['timePerPatient']?.invalid && updateform.controls['timePerPatient']?.errors?.['required']||submitted&& updateform.controls['timePerPatient']?.errors?.['required']}"/>
                <div class="invalid-feedback">
                    {{((updateform.controls['timePerPatient'].touched&&updateform.controls['timePerPatient'].hasError('required')&&updateform.controls['timePerPatient'].invalid)||(submitted&& updateform.controls['timePerPatient'].errors?.['required']))?"This field is reqired":''}}
                </div>
                <div class="invalid-feedback">
                    {{((updateform.controls['timePerPatient'].touched&&updateform.controls['timePerPatient'].hasError('pattern')&&updateform.controls['timePerPatient'].invalid)||(submitted&& updateform.controls['timePerPatient'].errors?.['pattern']))?"please duration between 00:10 and 00:50":''}}
                </div>
            </td>
        </tr>
        <tr class="table-footer">
            <td colspan="2"> <button class="submit_btn" type="submit">submit</button>
        </tr>
    </table>
    <div *ngIf="!check||errorflag" class="invalid-feedback text-center">this schedule is not avaliable</div>
</form>