<section>
    <div class="image">
        <img src="../../../assets/bg.jpg"/>
        <h2>All Departments</h2>
    </div>
    <ng-container *ngIf="!loading">
        <div class="department-div">
            <ng-container *ngIf="departments.length>0">
                <div class="list">
                    <div class="list-item" *ngFor="let item of departments|paginate:{itemsPerPage:10,currentPage:p,totalItems:length}">
                        <a routerLink="/alldoctors/{{item.departmentName}}">
                            <img src="../../../assets/profile.png"/>
                            <h3>{{item.departmentName}}</h3>
                        </a>
                    </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </ng-container>
            <ng-container *ngIf="departments.length==0">
                <p class="No-Data">No Data Found</p>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <img src="../../../assets/Spinner.svg"/>
    </ng-container>
</section>

