<div>
    <ng-container *ngIf="patientscan.length>0">
        <div class="filter-section">
            <label>Scan Name</label>
            <select class="form-select" (change)="search_scan($event)">
                <option></option>
                <option *ngFor="let i of scanlist" value="{{i.Name}}">{{i.Name}}</option>
            </select>    
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>scan date</th>
                        <th>pdf</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scan of temppatientscan;let j=index">
                        <td>{{scan.scanName}}</td>
                        <td>{{scan.scanDate|date: 'longDate'}}</td>
                        <td class="pdficon"><button (click)="showscan(j)"> <img src="../../../../assets/pdficon.png"> </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-container *ngIf="patientscan.length==0">
        <p class="text-danger text-center mt-4">No Items</p>
    </ng-container>
</div>