<section class="row justify-content-center my-5">
    <div class="col-md-4 image">
        <img src="../../../../assets/contact.png"/>
    </div>
    <div class="col-md-6 col-11 doctors">
        <h4>Contact With Us</h4>
        <form [formGroup]="mail" (ngSubmit)="sendemail()">
            <div>
                <input type="mail" formControlName="from_name" class="form-control" id="mail"
                [ngClass]="{'is-invalid':((mail.controls['from_name'].touched&&mail.controls['from_name'].hasError('required'))||(mail.controls['from_name'].touched&&mail.controls['from_name'].hasError('mail')))}"
                placeholder="email"/>
                <input type="text" formControlName="subject" class="form-control" id="subject"
                [ngClass]="{'is-invalid':(mail.controls['subject'].touched&&mail.controls['subject'].hasError('required'))}"
                placeholder="Subject"/>
                <textarea formControlName="message" class="form-control" id="body" 
                [ngClass]="{'is-invalid':(mail.controls['message'].touched&&mail.controls['message'].hasError('required'))}"
                placeholder="Message"></textarea>
            </div>
            <div class="submit-section">
                <input type="submit" value="send" class="btn" [disabled]="loader||mail.invalid"/>
                <span *ngIf="!loader&&issent==1" class="success-message">mail is send</span>
                <span *ngIf="!loader&&issent==2" class="error-message">error</span>

                <img src="../../../../assets/Spinner.svg" *ngIf="loader"/>
            </div>
        </form>
    </div>
</section>